*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding-top: 16px;
    padding-bottom: 16px;
}
.container {
    width: 100%;
    max-width: 1228px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.header-left-wrapper{
    display: flex;
    align-items: center;
}
.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 40px;
}
.logo {
    margin-right: 14px;
}
.title {
    color: #414141;
    font-weight: 600;
    font-size: 18px;
}
.katalog-wrapper {
    display: flex;
    align-items: center;
    padding: 8px;
    border: #70C05B;
    border-radius: 4px;
    background-color: #70C05B;
    margin-right: 16px;
}
.katalog-img {
    margin-right: 9px;
}
.katalog {
    color: white;
}
.input-wrapper {
    position: relative;
}
.header-iteam-input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    width: 375px;
    border-radius: 4px;
    border: 2px solid #70C05B;
}
.input-search {
    position: absolute;
    margin-left: -36px;
    margin-top: 8px;
}
.header-nav {
}
.header-nav-iteam {
    display: flex;
    
    
}
.header-nav-iteam:not(:last-child){
    margin-right: 24px;
}

.nav-link-iteam-link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin-right: 24px;
}
.nav-img {
}
.nav {

font-size: 12px;
font-weight: 400;
line-height: 18px;
color: #414141;

}


.hero{
    background-image: url('../imgs/hero.png');
}

.products-container{
    padding-top: 80px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(4 , auto);
    column-gap: 40px;
    row-gap: 120px;
}

.main{
    background-color: #f5f8ec;
}

.product-card{
    width: 282px;
    position: relative;
    background-color: white;
    list-style: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 19px;
    padding-bottom: 19px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




.product-like-btn {
    position: absolute;
    right: 9px;
    border: none;
    backdrop-filter: blur();
    background-color: rgb(255, 255, 255);
    top: 9px;
}
.product-like-img {
    border: none;
}
.product-info {
    
}
.narx-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aslNarx {

font-size: 18px;
font-weight: 700;
line-height: 27px;
color: #414141;

}
.dastavkaNarx {

font-size: 16px;
font-weight: 400;
line-height: 24px;


}
.rating {
    margin-bottom: 8px;
}
.add-to-cart {

    width:100%;
    height: 40px;
    background: none;
    border: 2px solid #70C05B;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    box-shadow: 1px 2px 4px 0px #0000001A;
    color: #70C05B;
}

.active-add-to-cart{
    background: #FF6633;
    color: white;
    border: 2px solid #FF6633;
}

.spen{

font-size: 12px;
font-weight: 400;
line-height: 18px;
color: #BFBFBF;

}

.product-title{
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: #414141;
margin-bottom: 8px;
}


.product-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}


.korzinka-title {
font-size: 64px;
font-weight: 700;
line-height: 96px;
margin-bottom: 60px;
}

.select-prodcuts-length {
}

.li-iteam-wrapper {
    display: flex;
    justify-content: space-between;
}
.img-and-title-wrapper {
    display: flex;
}
.img-wrap {
margin-right: 8px;
}

.img{
    width: 80px;
    height: 72px;
}
.title-andprice-wrap {
    
}

.kozinka-title{

font-size: 16px;
font-weight: 500;
line-height: 24px;
color: #414141;
margin-bottom: 2px;
}

.asl-narx-koriznka {
}
.dastavka-narx-koriznka {
}
.plus-andprice-wrapper {
}
.btn-plus-minus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #70C05B;
    border-radius: 12px;
}
.minus {
    border-radius: 12px;

    padding: 9px 19px ;
    margin-right: 15px;
    background-color: #70C05B;
    border: none;
    color: white;
    font-size: 22px;
}
.count {
    color: white;
    font-size: 22px;
}
.pilus {
    border-radius: 12px;

    color: white;
    font-size: 22px;
    margin-left: 15px;
    padding: 9px 19px;
    background-color: #70C05B;
    border: none;
}
.umumiy {
}
.narx {
}


li{
    list-style: none;
}